@import url(http://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);
@import "/font-face/mensch.css";
@import "compass/reset";
@import "compass/css3";

::selection {background: #ffc600;}
::-moz-selection {background: #ffc600;}

body {
  background:#f3f3f3;
  font-family:Muli;
  line-height:1.4em;
}

.wrapper {
  width:95%;
  max-width:900px;
  margin:0 auto;
}

header {
  width:95%;
  max-width:900px;
  position:fixed;
  margin: 0 auto;
  margin-bottom:30px;

  nav {
    @include border-radius(0 0 2px 2px);
    background:white;
    @include box-shadow(0 1px 1px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.15));
    -webkit-font-smoothing: antialiased;

    ul {

      li {
        float:left;
        width:20%;

        a {
          display:block;
          text-align:center;
          line-height:50px;
          text-transform:uppercase;
          text-decoration:none;
          color:#999;
          font-size:20px;
          font-family:MenschRegular;
          -webkit-transition: text-shadow,color,background-color,margin-left  200ms ease-in;
          @include box-shadow(1px 0 0 rgba(0,0,0,.1));

          img {
            margin-bottom: -11px;
            margin-top: 4px;
            max-height:38px;
            -webkit-transition:all  200ms ease-in;
          }

          &:hover, &.current {
            background-color:#ffc600;
            color:white;
            @include text-shadow(0 1px 0 rgba(0,0,0,.25));
            -webkit-transition: text-shadow,color,background-color 200ms ease-in;
            @include box-shadow(inset 1px 0 rgba(0,0,0,.1), inset -1px 0 rgba(0,0,0,.1), inset 0 -1px 1px rgba(0,0,0,.15), 0 1px 0 #987600);
          }
        }

        &:first-child {
          span {
            height:0;
            opacity:0;
            float:left;
            -webkit-transition:all  200ms ease-in;
            z-index: 1;
            position: relative;
            left: 20px;
          }
        }

        &:first-child a:hover, &:first-child a.current {
          @include box-shadow(inset -1px 0 rgba(0,0,0,.1), inset 0 -1px 1px rgba(0,0,0,.15), 0 1px 0 #987600);
          @include border-radius(0 0 0 2px);
          
          img {
            margin-left:-110px;
            opacity:.1;
          }

          span {
            display:block;
            opacity:1;
            left:33px;
          }
        }

        &:last-child a:hover, &:last-child a.current {
          @include box-shadow(inset 1px 0 rgba(0,0,0,.1), inset 0 -1px 1px rgba(0,0,0,.15), 0 1px 0 #987600);
          @include border-radius(0 0 2px 0);
        }
      }
    }

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

.content {
  padding:0 30px;
  padding-top:90px;
  overflow:hidden;
  margin-bottom:50px;
}

.page-content {
  width:70%;
  float:left;

  h1 {
    font-size:26px;
    color:#111;
    margin-bottom:.5em;
    line-height:1.2em;
  }

  h1 + p {
    color:#333;
    font-size:16px;
  }

  p {
    color:#666;
    font-size:14px;
    margin-bottom:1em;
  }

  a {
    color:#e99f00;
    text-decoration:none;
    border-bottom:dotted 2px #e99f00;
    
    &:hover {
      border-bottom:solid 2px #e99f00;
    }
  }

  strong {
    color:#222;
    font-weight:bold;
  }

  em {
    color:#666;
    font-style:italic;
  }
}

.page-articles {

  article {

    &:first-child {
      margin-top:-25px;

      a {
        @include box-shadow(inset 0 20px 20px #f3f3f3, inset 30px -2px 30px #f3f3f3, inset -30px -2px 30px #f3f3f3);
      }
    }

    a {
      display:block;
      @include box-shadow(inset 30px -2px 30px #f3f3f3, inset -30px -2px 30px #f3f3f3, inset 2px 1px 4px rgba(0,0,0,.4), inset 0 1px 0 #cecece);
      padding:25px 0;
      border:none;
      -webkit-transition:all 200ms ease-in;

      &:hover {
        border:none;
        background-color:white;
      }
    }

    h1 {
      margin-bottom:.25em;
    }

    p {
      margin:0;
      color:#666;
      font-size:14px;
    }
  }
}

.sidebar {
  float:right;
  width:25%;

  h3 {
    font-size:15px;
    color:#333;
    text-transform:uppercase;
    margin-bottom:.7em;
    text-indent:10px;
  }

  ul {
    margin-bottom:1.5em;

    li {
      

      a {
        display:block;
        color:#666;
        font-size:13px;
        text-decoration:none;
        line-height:35px;
        text-indent:20px;
        @include box-shadow(inset 15px -2px 15px #f3f3f3, inset -15px -2px 15px #f3f3f3, inset 2px 1px 4px rgba(0,0,0,.4), inset 0 1px 0 #cecece);
        -webkit-transition:all 200ms ease-in;

        &:hover {
          text-indent:30px;
          background-color:white;
          color:#333;
        }
      }
    }
  }
}

.page-about {
  
  .content {
    text-align:right;
    
    img {
      float:left;
      margin-right:50px;
    }

    h1 {
      font-size:40px;
      color:#666;
      margin-top:2em;
      margin-bottom:.5em;
      line-height:1.2em;
    }
    
    a, strong {
      color:#222;
      font-weight:normal;
      text-decoration:none;
    }

    a:hover {
      border-bottom:2px dotted #222;
    }

    p {
      font-size:20px;
      color:#666;
      line-height:1.4em;
      margin-bottom:1em;

      &.twitter-about {
        float:right;
        line-height:40px;
        padding-left:55px;
        background:url("/images/about-twitter.png") left center no-repeat;
      }
    }
  }
}

a.twitter {
  display:block;
  @include border-radius(2px);
  background:rgba(0,0,0,.05);
  padding:15px 20px;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.4), 0 2px 1px rgba(255,255,255,1));
  margin:30px 0 5px 0;
  text-decoration:none;
  color:inherit;
  -webkit-transition: text-shadow,color,background-color 200ms linear;
  border:none;

  &:hover {
    background-color:#ffc600;
    background:white;
    border:none;
    @include box-shadow(0 1px 1px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.2));
  }

  h2 {
    font-size:18px;
    margin-bottom:.2em;
  }

  p {
    margin:0;
    font-size:13px;
    line-height:1.4em;
  }
}

.page-work {

  .page-content {
    width:auto;
  }

  article {
    @include border-radius(0 0 2px 2px);
    background:white;
    @include box-shadow(0 1px 1px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.15));
    padding:30px;
    margin-bottom:20px;

    div {
      width:47%;
    }

    &.renewal {
      background:white url("/images/work-renewal.png") 95% bottom no-repeat;
    }

    &.sticky {
      background:white url("/images/work-sticky.png") 95% bottom no-repeat;
    }

    &.imagerotator {
      background:white url("/images/work-imagerotator.png") 95% bottom no-repeat;
    }

    p {
      font-size:14px;
      color:#666;
    }
  }
}