@import "compass/reset";
@import "compass/css3";

@mixin animate($speed:200ms) {
  -webkit-transition:all $speed ease-in;
  -moz-transition:all $speed ease-in;
}

html {
  background:#eee url("images/noise.png") fixed;
  color:#333;
  min-height:100%;
  -webkit-font-smoothing: antialiased;
  text-rendering:optimizeLegibility;
  @include box-shadow(0 0 150px rgba(black,.3) inset);
  font:14px ff-meta-serif-web-pro,serif;
  -webkit-text-size-adjust:none;
}

body {
  line-height:1.6em;
  width:90%;
  max-width:700px;
  margin:0 auto .75em auto;
}

header {
  overflow:hidden;
  margin:1em 0 -2em 0;
/*
  position:fixed;
  width:90%;
  max-width:700px;
  top:0;
*/
  
  nav {
    
    .logo {
      display:block;
      width:250px;
      margin:1em auto 0 auto;
      font-family:purista-web,sans-serif;
      height:50px;
      text-decoration:none;
      text-transform:uppercase;
      text-align:center;
      font-size:1.2em;
      letter-spacing:.075em;
      position:relative;
      
      &:hover,&.current {
        img {
          opacity:.1;
        }
        
        span {
          top:14px;
          opacity:1;
        }
      }
      
      img {
        max-height:50px;
        opacity:.9;
        position:relative;
        @include animate(400ms);
      }
      
      span {
        display:block;
        opacity:0;
        position:absolute;
        top:50px;
        width:100%;
        text-align:center;
        @include animate(400ms);
      }
    }
    
    ul {
      margin:0;
      
      li {
        list-style:none;
        
        a {
          display:block;
          width:25%;
          float:left;
          text-align:center;
          font-family:purista-web,sans-serif;
          text-transform:uppercase;
          text-decoration:none;
          color:#333;
          font-size:1.1em;
          padding:1.25em 0;
          letter-spacing:.1em;
          opacity:.5;
          @include animate();
          
          &:hover,&.current {
            opacity:1;
          }
        }
      }
    }
  }
}

footer {
  text-align:center;
/*
  position:fixed;
  width:90%;
  max-width:700px;
  bottom:0;
  z-index:-1;
*/
  
  .logo {
    display:block;
    width:50px;
    margin:0 auto;
    padding:15px;
    
    &:hover {
      img {
        opacity:.9;
      }
    }
    
    img {
      opacity:.1;
      @include animate(400ms);
    }
  }
}

h1,h2,h3,h4,h5,h6 {font-family:purista-web,sans-serif;}

h1 {
  font-size:3em;
  color:#111;
  margin:2em 0 1em;
  line-height:1.2em;
  
  &.white {
    font-size:3em;
    color:white;
    margin:1.5em 0;
    line-height:1.2em;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:.2em;
    @include text-shadow(0 1px 10px rgba(0, 0, 0, .5));
  }
}

h2 {
  font-size:2em;
  color:#111;
  margin:2em 0 1em;
  line-height:1.2em;
}

h3 {
  font-size:1.5em;
  color:#111;
  margin:2em 0 1em;
}

p {
  margin:1em 0;
}

ul {
  list-style:square inside;
  margin-left:1em;
  
  li {
    padding-left:5px;
  }
}

ol {
  margin-left:1em;
  counter-reset:li;
  
  li {
    &:before {
      content:counter(li)". ";
      counter-increment:li;
      padding-right:5px;
    }
  }
}

blockquote {
  font-family:purista-web,sans-serif;
  color:#eee;
  font-size:2em;
  line-height:1.4em;
  background:#222;
  padding:.8em 1em;
  margin:1em 0;
  @include box-shadow(0 0 0 4px lighten(#222,2%) inset,
                      0 0 0 5px lighten(#222,40%) inset);
}

a {
  color:#111;
}

strong {
  @include linear-gradient(lighten(#fff600,30%),#fff600);
  @include box-shadow(0 -3px 3px lighten(#fff600,30%) inset,
                      0 0 3px darken(#fff600,2%) inset);
  @include text-shadow(0 1px rgba(white,.5));
  @include border-radius(1px);
  padding:0 5px;
  margin:0 2px;
}

em {
  color:#666;
  font-style:italic;
  
  &:before,&:after {content:" * "}
}

hr {
  background:rgba(black,.02);
  height:5px;
  margin:2em 0;
  border:none;
  @include box-shadow(0 1px 0 rgba(black,.05) inset,
                      0 -1px 0 rgba(black,.05) inset);
}

article { 
  background:#fff;
  background-position:center top;
  background-repeat:no-repeat;
  background-size:100%;
  position:relative;
  counter-reset:figure;
  padding:4em;
  margin:2em 0;
  @include text-shadow(0 1px 2px rgba(white,.3));
  @include box-shadow(0 3px 4px -1px rgba(black,.5),
                      0 13px 5px -7px rgba(black,.15),
                      0 0 0 14px rgba(white,.6) inset,
                      0 0 0 15px rgba(black,.05) inset);
  
  &.on-disconnecting {background-image:url("images/on-disconnecting.png")}
  
  &.excerpt {
    padding:0;
    @include animate(100ms);
    background-position:center -50px;
    @include box-shadow(0 3px 4px -1px rgba(black,.5),
                        0 13px 5px -7px rgba(black,.15),
                        0 0 0 14px rgba(white,.6) inset,
                        0 0 0 15px rgba(black,.05) inset,
                        0 0 0 350px rgba(white,.15) inset);
    
    &:hover {
      @include box-shadow(0 3px 4px -1px rgba(black,.5),
                          0 13px 5px -7px rgba(black,.15),
                          0 0 0 14px rgba(white,.6) inset,
                          0 0 0 15px rgba(black,.05) inset);
                          
      h1 {
        letter-spacing:.3em;
      }
    }
    
    a {
      display:block;
      text-decoration:none;
      padding:4em 0;
      
      h1 {
        margin:0;
        @include animate(100ms);
      }
    }
  }
  
  &.clean {
    background-position:right top;
    background-size:50% auto;
    
    h1,h2,h3,h4,h5,h6 {margin:0 0 1em 0;width:45%;}
    p{margin:1em 0 0 0;width:45%;}
    
    &.renewal {background-image:url("images/proj-renewal.png")}
    &.sticky {background-image:url("images/proj-sticky.png")}
    &.rotator {background-image:url("images/proj-rotator.png")}
    
    &.ruiz-counter {
      background-image:url("images/exp-ruiz-counter.png");
      background-size:50% auto;
      background-position:right center;
    }
    &.ios-popover {
      background-image:url("images/exp-ios-popover.png");
      background-size:50% auto;
      background-position:right center;
    }
    &.vcard {
      background-image:url("images/exp-vcard.png");
      background-size:50% auto;
      background-position:right center;
    }
    &.about {
      background-size:auto 100%;
      background-image:url("images/bg-avatar.png");
      
      h1,h2,h3,h4,h5,h6 {width:80%;}
      p{width:80%;}
    }
  }
  
  .date {
    position:absolute;
    display:block;
    top:4em;
    right:4em;
    height:80px;
    min-width:80px;
    color:#666;
    overflow:visible;
    
    &.white {
      color:white;
      @include text-shadow(0 1px 2px rgba(black,.3));
    }
  }
  
  
  img {
    max-width:40%;
    float:right;
    @include border-radius(2px);
    @include box-shadow(0 1px 0 rgba(white,.5),
                        0 6px 5px -3px rgba(black,.25));
    margin:.5em 0 .5em 1.5em;
    
    &.left {float:left;margin:.5em 1.5em .5em 0;}
  }
  
  .figure {
    max-width:40%;
    float:right;
    margin:.5em 0 .5em 1.5em;
    
    &.left {float:left;margin:.5em 1.5em .5em 0;}
    
    img {
      margin:0 0 .75em 0;
      max-width:100%;
    }
    
    .caption {
      font-style:normal;
      display:block;
      text-align:center;
      font-size:.8em;
      line-height:1.5em;
      
      &:before {
        counter-increment:figure;
        content:"Fig. "counter(figure)" - ";
        font-style:italic;
        color:#999;
      }
      &:after {content:""}
    }
  }
}

.article-navigation {
  margin-top:-2em;
  margin-bottom:-5em;
  overflow:hidden;

  a {
    display:block;
    padding:1.5em 0 3em;
    font-family:purista-web,sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    @include animate();
    opacity:.5;
    width:40%;
    
    &:before {
      display:block;
      color:#999;
      line-height:1em;
      font-size:.75em;
    }
    
    &:hover {
      opacity:1;
    }
    
    &[href="#prev"] {
      float:left;
      margin-left:15px;
      text-align:left;
      
      &:before {
        content:"Prev";
      }
      
      &:hover {margin-left:0;}
    }
    
    &[href="#next"] {
      float:right;
      margin-right:15px;
      text-align:right;
      
      &:before {
        content:"Next";
      }
      
      &:hover {margin-right:0;}
    }
  }
}