@import 'normalize';

html {
	font-family: 'proxima-nova';
	font-weight: 200;
	background-image: url('/assets/images/profile.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: flex-end;
	min-height: 100vh;
	color: #7f8c8d;
	letter-spacing: -.04em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	margin: 0;
}

body {
	background: rgba(#fff,.7);
	flex-basis: 45vw;
	padding: 6vw;

	@media screen and (max-width: 900px) {
		padding: 30px;
	}

	@media screen and (max-width: 900px) {
		flex: 1;
		margin-top: 60vh;
	}
}

.greeting {
	font-size: 2.5vw;
	line-height: .75em;
}

.name {
	color: #233140;
	font-weight: 300;
	font-size: 4.5vw;
	margin-bottom: 3vw;
}

.message {
	font-size: 2.5vw;
	line-height: 1.4em;
	margin-bottom: 3vw;

	a {
		color: #2980b9;
		text-decoration: none;
		border-bottom: .15vw solid #e7f2fa;
		transition: border-color 100ms ease-in-out;

		&:hover {
			border-color: #94c6e7;
		}
	}
}

#instagram {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&:hover {
		a {
			opacity: .8;
		}
	}

	a {
		flex-grow: 1;
		flex-basis: calc(100%/3);
		line-height: 0;
		transition: all 200ms ease-in-out;

		@media screen and (max-width: 900px) {
			flex-basis: calc(100%/4);
		}

		&:hover {
			opacity: 1;
		}
	}

	img {
		width: 100%;
	}
}
