/* line 1, ../sass/mini.scss */
#primary {
  float: none;
  width: 92%;
  padding: 2% 4%;
}

/* line 7, ../sass/mini.scss */
#secondary {
  position: static;
  padding: 4% 4% 2% 4%;
  float: right;
  width: 92%;
}
/* line 13, ../sass/mini.scss */
#secondary h4, #secondary h1 {
  text-align: center;
}
/* line 17, ../sass/mini.scss */
#secondary aside {
  display: none;
}

/* line 22, ../sass/mini.scss */
footer {
  display: block;
}

/* line 26, ../sass/mini.scss */
aside {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

/* line 32, ../sass/mini.scss */
aside:nth-child(even) {
  margin-left: 0;
}

/* line 37, ../sass/mini.scss */
article h1 {
  font-size: 24px;
}
/* line 41, ../sass/mini.scss */
article h4 {
  font-size: 13px;
}
/* line 45, ../sass/mini.scss */
article p {
  font-size: 14px;
}

/* line 52, ../sass/mini.scss */
.post article img {
  max-width: 100%;
  display: block;
  margin: 15px auto 30px auto;
}
/* line 57, ../sass/mini.scss */
.post article img.no-border {
  margin: 15px auto 15px auto;
}
/* line 62, ../sass/mini.scss */
.post article ul {
  padding-left: 15px;
}
/* line 70, ../sass/mini.scss */
.post article pre {
  padding-left: 15px;
}
/* line 74, ../sass/mini.scss */
.post article blockquote {
  margin: 30px auto 15px auto;
  width: 92%;
  font-size: 32px;
}

/* line 81, ../sass/mini.scss */
footer {
  display: block;
  position: static;
  width: 92%;
  padding: 4% 0;
  margin: 0 4%;
  border-top: double 3px #ccc;
}

/* line 90, ../sass/mini.scss */
#twitter-plug {
  width: 92%;
  padding: 4% 4% 0 4%;
}
/* line 94, ../sass/mini.scss */
#twitter-plug h3 {
  font-size: 16px;
}
