/* line 17, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
::-moz-selection {
  background: #999;
  background: rgba(0, 0, 0, 0.15);
}

/* line 13, ../sass/screen.scss */
::selection {
  background: #999;
  background: rgba(0, 0, 0, 0.15);
}

/* line 18, ../sass/screen.scss */
html {
  background: #eeeeee url("images/noise.png") fixed;
  color: #333;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-box-shadow: 0 0 150px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 150px rgba(0, 0, 0, 0.3) inset;
  -o-box-shadow: 0 0 150px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.3) inset;
  font: 14px ff-meta-serif-web-pro,serif;
  -webkit-text-size-adjust: none;
}

/* line 29, ../sass/screen.scss */
body {
  line-height: 1.6em;
}

/* line 33, ../sass/screen.scss */
.wrap {
  width: 90%;
  max-width: 700px;
  margin: 0 auto .75em auto;
}

/* line 39, ../sass/screen.scss */
header {
  overflow: hidden;
  margin: 1em 0 -2em 0;
  /*
    position:fixed;
    width:90%;
    max-width:700px;
    top:0;
  */
}
/* line 51, ../sass/screen.scss */
header nav .logo {
  display: block;
  width: 250px;
  margin: 1em auto 0 auto;
  font-family: purista-web,sans-serif;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .075em;
  position: relative;
}
/* line 65, ../sass/screen.scss */
header nav .logo:hover img, header nav .logo.current img {
  opacity: .1;
}
/* line 69, ../sass/screen.scss */
header nav .logo:hover span, header nav .logo.current span {
  top: 14px;
  opacity: 1;
}
/* line 75, ../sass/screen.scss */
header nav .logo img {
  max-height: 50px;
  opacity: .9;
  position: relative;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
}
/* line 82, ../sass/screen.scss */
header nav .logo span {
  display: block;
  opacity: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
}
/* line 93, ../sass/screen.scss */
header nav ul {
  margin: 0;
}
/* line 96, ../sass/screen.scss */
header nav ul li {
  list-style: none;
  width: 25%;
  float: left;
  margin: 0;
  padding-left: 0;
  display: block;
}
/* line 104, ../sass/screen.scss */
header nav ul li a {
  display: block;
  text-align: center;
  font-family: purista-web,sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  padding: 1.25em 0;
  letter-spacing: .1em;
  opacity: .5;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}
/* line 117, ../sass/screen.scss */
header nav ul li a:hover, header nav ul li a.current {
  opacity: 1;
}

/* line 126, ../sass/screen.scss */
footer {
  text-align: center;
  /*
    position:fixed;
    width:90%;
    max-width:700px;
    bottom:0;
    z-index:-1;
  */
}
/* line 136, ../sass/screen.scss */
footer .logo {
  display: block;
  width: 50px;
  margin: 0 auto;
  padding: 15px;
}
/* line 143, ../sass/screen.scss */
footer .logo:hover img {
  opacity: .9;
}
/* line 148, ../sass/screen.scss */
footer .logo img {
  opacity: .1;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
}

/* line 155, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: purista-web,sans-serif;
}

/* line 157, ../sass/screen.scss */
h1 {
  font-size: 3em;
  color: #111;
  margin: 2em 0 1em;
  line-height: 1.2em;
}
/* line 163, ../sass/screen.scss */
h1.white {
  font-size: 3em;
  color: white;
  margin: 1.5em 0;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.75);
}

/* line 175, ../sass/screen.scss */
h2 {
  font-size: 2em;
  color: #111;
  margin: 2em 0 1em;
  line-height: 1.2em;
}

/* line 182, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
  color: #111;
  margin: 2em 0 1em;
}

/* line 188, ../sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 192, ../sass/screen.scss */
ul {
  list-style: square inside;
  margin-left: 1em;
}
/* line 196, ../sass/screen.scss */
ul li {
  padding-left: 5px;
}

/* line 201, ../sass/screen.scss */
ol {
  margin-left: 1em;
  counter-reset: li;
}
/* line 206, ../sass/screen.scss */
ol li:before {
  content: counter(li) ". ";
  counter-increment: li;
  padding-right: 5px;
}

/* line 214, ../sass/screen.scss */
blockquote {
  font-family: purista-web,sans-serif;
  color: #eee;
  font-size: 2em;
  line-height: 1.4em;
  background: #222;
  padding: .8em 1em;
  margin: 1em 0;
  -moz-box-shadow: 0 0 0 4px #272727 inset, 0 0 0 5px #888888 inset;
  -webkit-box-shadow: 0 0 0 4px #272727 inset, 0 0 0 5px #888888 inset;
  -o-box-shadow: 0 0 0 4px #272727 inset, 0 0 0 5px #888888 inset;
  box-shadow: 0 0 0 4px #272727 inset, 0 0 0 5px #888888 inset;
}

/* line 226, ../sass/screen.scss */
a {
  color: #111;
}

/* line 230, ../sass/screen.scss */
strong {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff600), color-stop(100%, #fffb99));
  background-image: -webkit-linear-gradient(#fff600, #fffb99);
  background-image: -moz-linear-gradient(#fff600, #fffb99);
  background-image: -o-linear-gradient(#fff600, #fffb99);
  background-image: -ms-linear-gradient(#fff600, #fffb99);
  background-image: linear-gradient(#fff600, #fffb99);
  -moz-box-shadow: 0 -3px 3px #fffb99 inset, 0 0 3px #f5ec00 inset;
  -webkit-box-shadow: 0 -3px 3px #fffb99 inset, 0 0 3px #f5ec00 inset;
  -o-box-shadow: 0 -3px 3px #fffb99 inset, 0 0 3px #f5ec00 inset;
  box-shadow: 0 -3px 3px #fffb99 inset, 0 0 3px #f5ec00 inset;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  padding: 0 5px;
  margin: 0 2px;
}

/* line 240, ../sass/screen.scss */
em {
  color: #666;
  font-style: italic;
}
/* line 244, ../sass/screen.scss */
em:before, em:after {
  content: " * ";
}

/* line 247, ../sass/screen.scss */
hr {
  background: rgba(0, 0, 0, 0.02);
  height: 5px;
  margin: 2em 0;
  border: none;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
}

/* line 256, ../sass/screen.scss */
article {
  background: #fff;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  counter-reset: figure;
  padding: 4em;
  margin: 2em 0;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
  -o-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
}
/* line 271, ../sass/screen.scss */
article.on-disconnecting {
  background-image: url("images/on-disconnecting.png");
}
/* line 272, ../sass/screen.scss */
article.on-valiocon-2011 {
  background-image: url("images/on-valiocon-2011.png");
}
/* line 276, ../sass/screen.scss */
article.excerpt {
  padding: 0;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  background-position: center -50px;
  background-size: auto;
  -moz-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset, 0 0 0 350px rgba(255, 255, 255, 0.15) inset;
  -webkit-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset, 0 0 0 350px rgba(255, 255, 255, 0.15) inset;
  -o-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset, 0 0 0 350px rgba(255, 255, 255, 0.15) inset;
  box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset, 0 0 0 350px rgba(255, 255, 255, 0.15) inset;
}
/* line 287, ../sass/screen.scss */
article.excerpt:hover {
  -moz-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
  -o-box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5), 0 13px 5px -7px rgba(0, 0, 0, 0.15), 0 0 0 14px rgba(255, 255, 255, 0.6) inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset;
}
/* line 293, ../sass/screen.scss */
article.excerpt:hover h1 {
  letter-spacing: .3em;
}
/* line 298, ../sass/screen.scss */
article.excerpt a {
  display: block;
  text-decoration: none;
  padding: 4em 0;
}
/* line 303, ../sass/screen.scss */
article.excerpt a h1 {
  margin: 0;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
}
/* line 310, ../sass/screen.scss */
article.clean {
  background-position: right top;
  background-size: 50% auto;
}
/* line 314, ../sass/screen.scss */
article.clean h1, article.clean h2, article.clean h3, article.clean h4, article.clean h5, article.clean h6 {
  margin: 0 0 1em 0;
  width: 45%;
}
/* line 315, ../sass/screen.scss */
article.clean p {
  margin: 1em 0 0 0;
  width: 45%;
}
/* line 317, ../sass/screen.scss */
article.clean.renewal {
  background-image: url("images/proj-renewal.png");
}
/* line 318, ../sass/screen.scss */
article.clean.sticky {
  background-image: url("images/proj-sticky.png");
}
/* line 319, ../sass/screen.scss */
article.clean.rotator {
  background-image: url("images/proj-rotator.png");
}
/* line 321, ../sass/screen.scss */
article.clean.ruiz-counter {
  background-image: url("images/exp-ruiz-counter.png");
  background-size: 50% auto;
  background-position: right center;
}
/* line 326, ../sass/screen.scss */
article.clean.ios-popover {
  background-image: url("images/exp-ios-popover.png");
  background-size: 50% auto;
  background-position: right center;
}
/* line 331, ../sass/screen.scss */
article.clean.vcard {
  background-image: url("images/exp-vcard.png");
  background-size: 50% auto;
  background-position: right center;
}
/* line 336, ../sass/screen.scss */
article.clean.about {
  background-size: auto 100%;
  background-image: url("images/bg-avatar.png");
}
/* line 340, ../sass/screen.scss */
article.clean.about h1, article.clean.about h2, article.clean.about h3, article.clean.about h4, article.clean.about h5, article.clean.about h6 {
  width: 80%;
}
/* line 341, ../sass/screen.scss */
article.clean.about p {
  width: 80%;
}
/* line 345, ../sass/screen.scss */
article .date {
  position: absolute;
  display: block;
  top: 4em;
  right: 4em;
  height: 80px;
  min-width: 80px;
  color: #666;
  overflow: visible;
}
/* line 355, ../sass/screen.scss */
article .date.white {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 362, ../sass/screen.scss */
article img {
  max-width: 40%;
  float: right;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 6px 5px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 6px 5px -3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 6px 5px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 6px 5px -3px rgba(0, 0, 0, 0.25);
  margin: .5em 0 .5em 1.5em;
}
/* line 370, ../sass/screen.scss */
article img.left {
  float: left;
  margin: .5em 1.5em .5em 0;
}
/* line 373, ../sass/screen.scss */
article .figure {
  max-width: 40%;
  float: right;
  margin: .5em 0 .5em 1.5em;
}
/* line 378, ../sass/screen.scss */
article .figure.left {
  float: left;
  margin: .5em 1.5em .5em 0;
}
/* line 380, ../sass/screen.scss */
article .figure img {
  margin: 0 0 .75em 0;
  max-width: 100%;
}
/* line 385, ../sass/screen.scss */
article .figure .caption {
  font-style: normal;
  display: block;
  text-align: center;
  font-size: .8em;
  line-height: 1.5em;
}
/* line 392, ../sass/screen.scss */
article .figure .caption:before {
  counter-increment: figure;
  content: "Fig. " counter(figure) " - ";
  font-style: italic;
  color: #999;
}
/* line 398, ../sass/screen.scss */
article .figure .caption:after {
  content: "";
}

/* line 403, ../sass/screen.scss */
.article-navigation {
  margin-top: -2em;
  margin-bottom: -5em;
  overflow: hidden;
}
/* line 408, ../sass/screen.scss */
.article-navigation a {
  display: block;
  padding: 1.5em 0 3em;
  font-family: purista-web,sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  opacity: .5;
  width: 40%;
}
/* line 418, ../sass/screen.scss */
.article-navigation a:before {
  display: block;
  color: #999;
  line-height: 1em;
  font-size: .75em;
}
/* line 425, ../sass/screen.scss */
.article-navigation a:hover {
  opacity: 1;
}
/* line 429, ../sass/screen.scss */
.article-navigation a.prev {
  float: left;
  margin-left: 15px;
  text-align: left;
}
/* line 434, ../sass/screen.scss */
.article-navigation a.prev:before {
  content: "Prev";
}
/* line 438, ../sass/screen.scss */
.article-navigation a.prev:hover {
  margin-left: 0;
}
/* line 441, ../sass/screen.scss */
.article-navigation a.next {
  float: right;
  margin-right: 15px;
  text-align: right;
}
/* line 446, ../sass/screen.scss */
.article-navigation a.next:before {
  content: "Next";
}
/* line 450, ../sass/screen.scss */
.article-navigation a.next:hover {
  margin-right: 0;
}
