/* line 1, ../sass/small.scss */
#primary {
  float: none;
  width: 92%;
  padding: 2% 4%;
}

/* line 7, ../sass/small.scss */
#secondary {
  position: static;
  padding: 4% 4% 2% 4%;
  float: right;
  width: 92%;
}
/* line 13, ../sass/small.scss */
#secondary aside {
  display: none;
}

/* line 18, ../sass/small.scss */
footer {
  display: block;
  position: static;
  width: 92%;
  padding: 4% 0;
  margin: 0 4%;
  border-top: double 3px #ccc;
}

/* line 29, ../sass/small.scss */
.post article img {
  max-width: 60%;
  float: left;
  margin: 15px 45px 30px 0;
}
/* line 34, ../sass/small.scss */
.post article img.no-border {
  margin: 15px 15px 15px 0;
}
/* line 39, ../sass/small.scss */
.post article blockquote {
  margin: 40px auto 15px auto;
  width: 92%;
  font-size: 32px;
}
/* line 45, ../sass/small.scss */
.post article pre {
  padding-left: 20px;
}

/* line 50, ../sass/small.scss */
#twitter-plug {
  width: 92%;
  padding: 4% 4% 0 4%;
}
/* line 54, ../sass/small.scss */
#twitter-plug h3 {
  font-size: 16px;
}
