<!doctype html>
<html>
<head>
  <title>Anthony Garand</title>
  <meta name="viewport" content="width=device-width" />
  <link href="http://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/normalize.css" rel="stylesheet" media="screen" />
  <link href="/stylesheets/screen.css" rel="stylesheet" media="screen" />
  <link rel='stylesheet' media='screen and (max-width: 1100px) and (min-width: 900px)' href="/stylesheets/medium.css" />
  <link rel='stylesheet' media='screen and (max-width: 900px) and (min-width: 640px)' href="/stylesheets/small.css" />
  <link rel='stylesheet' media='screen and (max-width: 640px)' href="/stylesheets/mini.css" />
</head>
<body>
  <div id="secondary">
    <header>
      <a href="/">
        <h4>The Notebook of</h4>
        <h1>Anthony Garand</h1>
      </a>
    </header>
  </div><!-- /#secondary -->
  <div id="primary">
    {{ content }}
  </div><!-- /#primary -->
  <footer>
    <aside>
      <h3>Who am I?</h3>
      <p>I'm a 20 year old front-end developer located in Michigan, who loves creating beatiful front-end websites.</p>
    </aside>
    <aside>
      <h3>Things I've Made</h3>
      <ul>
        <li><a href="http://labs.anthonygarand.com/sticky" target="_blank">Sticky Plugin</a></li>
      </ul>
    </aside>
    <aside>
      <h3>Popular Articles</h3>
      <ul>
        <li><a href="/posts/square-support/">Square Support</a></li>
        <li><a href="/posts/thoughs-on-valiocon-2011/">ValioCon 2011</a></li>
      </ul>
    </aside>
    <aside>
      <h3>Find Me Online</h3>
      <ul>
        <li><a href="http://twitter.com/garand" target="_blank">Follow on Twitter</a></li>
        <li><a href="http://github.com/garand" target="_blank">Fork on Github</a></li>
        <li><a href="http://dribbble.com/garand" target="_blank">Follow on Dribbble</a></li>
        <li><a href="http://www.flickr.com/photos/anthonygarand/" target="_blank">Follow on Flickr</a></li>
        <li><a href="mailto:anthonygarand@gmail.com">Email Me</a></li>
      </ul>
    </aside>
  </footer>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4d5aa2a95ffe1f587b000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>