<!doctype html>
<html>
<head>
  <title>{{ page.title }} | Anthony Garand</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body class="{{ page.bodyclass }}">
  <div class="wrapper">
    <header>
      <nav>
        <ul>
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.shortname == link.shortname %}
              {% assign current = 'current' %}
            {% endif %}
            <li><a href="{{ link.url }}" class="{{ current }}">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="content">
      {{ content }}
    </div><!-- /.content -->
  </div><!-- /.wrapper -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4d5aa2a95ffe1f587b000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>