<!doctype html>
<html>
<head>
  <title>Anthony Garand</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body class="{{ page.bodyclass }}">
  <div class="wrapper">
    <header>
      <nav>
        <ul>
          <li><a href="/" class="current"><img src="/images/logo.png"/><span>Anthony Garand</span></a></li>
          <li><a href="/articles">Articles</a></li>
          <li><a href="/work">Recent Work</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="mailto:anthonygarand@gmail.com">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      {{ content }}
    </div><!-- /.content -->
  </div><!-- /.wrapper -->
</body>
</html>