---
layout: default
shortname: articles
---
<div class="page-content">
  {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
  {{ content }}
  <a target="_blank" href="http://twitter.com/garand" class="twitter">
    <h2>You should follow me on twitter</h2>
    <p>You'll get a in-depth look into my life and maybe some occasional development related tweets if you're lucky.</p>
    <p><iframe allowtransparency="true" frameborder="0" scrolling="no"
src="http://platform.twitter.com/widgets/follow_button.html?screen_name=garand&show_count=false"
style="width:300px; height:20px; margin-top:10px;"></iframe></p>
  </a>
</div><!-- /.page-content -->
<div class="sidebar">
  <h3>Things I've Made</h3>
  <ul>
    <li><a target="_blank" href="http://labs.anthonygarand.com">Sticky Plugin</a></li>
    <li><a target="_blank" href="http://anthonygarand.com/vcard">VCard Site</a></li>
  </ul>
  <h3>Find Me Online</h3>
  <ul>
    <li><a target="_blank" href="http://twitter.com/garand"><img src="/images/findme-twitter.png"/>Follow me on Twitter</a></li>
    <li><a target="_blank" href="http://github.com/garand"><img src="/images/findme-github.png"/>Fork me on Github</a></li>
    <li><a target="_blank" href="http://dribbble.com/garand"><img src="/images/findme-dribbble.png"/>Follow me on Dribbble</a></li>
    <li><a target="_blank" href="http://flickr.com/photos/anthonygarand"><img src="/images/findme-flickr.png"/>Follow me on Flickr</a></li>
    <li><a target="_blank" href="mailto:anthonygarand@gmail.com"><img src="/images/findme-email.png"/>Email Me</a></li>
  </ul>
</div><!-- /.sidebar -->